# Dependencies
node_modules
dist
dist-ssr

# Logs
*.log
npm-debug.log*

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Environment
.env
.env.local
.env.production.local
.env.development.local

# OS
Thumbs.db
